{% include 'header_contact.html' %}
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Contact</div>
							<div class="breadcrumbs">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="/">Home</a></li>
									<li>Contact</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				
				<!-- Contact Content -->
				<div class="col-lg-6 contact_col">
					<div class="contact_content">
						<div class="contact_title magic_fade_in">Contact Info</div>
						<div class="contact_text magic_fade_in">
							<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis ege. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue tellus vitae mauris dignissim, id porta purus varius. Suspendisse pharetra tincidunt enim.</p>
						</div>
						<div class="contact_logo magic_fade_in"><a href="#">Host<span>Space</span></a></div>
						<div class="contact_list magic_fade_in">
							<ul>
								<li>1481 Creekside Lane Avila Beach, CA 931</li>
								<li>+53 345 7953 32453</li>
								<li>yourmail@gmail.com</li>
							</ul>
						</div>
						<div class="contact_social magic_fade_in">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="#"><i class="fa fa-pinterest trans_200" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook trans_200" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter trans_200" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble trans_200" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-behance trans_200" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin trans_200" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Message Form -->
				<div class="col-lg-6 contact_col magic_fade_in">
					<div class="message_form_container">
						<div class="contact_title">Get in Touch</div>
						<form action="#" id="message_form" class="message_form">
							<input type="text" class="message_input" placeholder="Name" required="required">
							<input type="email" class="message_input" placeholder="E-mail" required="required">
							<textarea class="message_input message_textarea" placeholder="Message" required="required"></textarea>
							<button class="message_form_button">Send</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row map_row">
				<div class="col">

					<!-- Contact Map -->

					<div class="contact_map magic_fade_in">

						<!-- Google Map -->
						
						<div class="map">
							<div id="google_map" class="google_map">
								<div class="map_container">
									<div id="map"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer magic_fade_in">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6 footer_col magic_fade_in">
					<div class="footer_about">
						<div class="footer_logo">Host<span>Space</span></div>
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
						<div class="footer_text">
							<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
						</div>
						<div class="contact_container">
							<form action="#" id="contact_form" class="contact_form">
								<div class="row">
									<div class="col-md-6">
										<input type="text" class="contact_input" placeholder="Your Name" required="required">
									</div>
									<div class="col-md-6">
										<input type="email" class="contact_input" placeholder="Your e-mail" required="required">
									</div>
								</div>
								<div>
									<textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea>
								</div>
								<button class="contact_button">Send</button>
							</form>
						</div>
					</div>
				</div>

				<div class="col-lg-6 footer_col">
					<div class="footer_links">
						<div class="row">
							<div class="col-sm-6 footer_list_col magic_fade_in">
								<div class="footer_list_container">
									<div class="footer_list_title">Hosting Options</div>
									<ul class="footer_list">
										<li><a href="#">Web Hosting</a></li>
										<li><a href="#">WordPress Hosting</a></li>
										<li><a href="#">VPS Hosting</a></li>
										<li><a href="#">Cloud Server</a></li>
										<li><a href="#">Reseller Package</a></li>
										<li><a href="#">Dedicated Hosting</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6 footer_list_col magic_fade_in">
								<div class="footer_list_container">
									<div class="footer_list_title">Domains</div>
									<ul class="footer_list">
										<li><a href="#">Buy a Domain</a></li>
										<li><a href="#">Premium Domain Names</a></li>
										<li><a href="#">Web Hosting</a></li>
										<li><a href="#">Transfer Your Domain</a></li>
										<li><a href="#">Domain Marketplace</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6 footer_list_col magic_fade_in">
								<div class="footer_list_container">
									<div class="footer_list_title">Resellers</div>
									<ul class="footer_list">
										<li><a href="#">VPS Hosting</a></li>
										<li><a href="#">Cloud Server</a></li>
										<li><a href="#">Reseller Package</a></li>
										<li><a href="#">Dedicated Hosting</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6 footer_list_col magic_fade_in">
								<div class="footer_list_container">
									<div class="footer_list_title">Support</div>
									<ul class="footer_list">
										<li><a href="#">Buy a Domain</a></li>
										<li><a href="#">Premium Domain Names</a></li>
										<li><a href="#">Web Hosting</a></li>
									</ul>
								</div>	
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</body>
</html>